*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #1C1C1BFF;
$sec-color: #CE4A7EFF;
$minor-color: white;

button:focus{ outline: 0; }

body {
    background-color: $main-color;
    font-size: 10px;
}

canvas {
    overflow: hidden;
}

.mainContainer {
    margin: 0 auto;
    max-width: 1600px;
    color: white;
    font-family: 'Lato', sans-serif;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}

@mixin button {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: none;
}